html, body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

mark {
  background-color: white;
}

a {
  color: white;
  text-decoration: none;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: serif;
  text-align: left;
  color: white;
  /* background: rgba(0,0,0,1); */
  width: 100vw;
  padding: 10px 5px 0px 5px;
  /* border: 0.5px solid black; */
  /* box-shadow: 0px 10px 25px 2.5px rgba(0, 0, 0, 0.3); */
}

.projectName {
  color: yellow;
  background: rgba(0,0,0,0);
  text-align: left;
  font-size: 1.3em;
  font-weight: bolder;
  -webkit-text-stroke: .035em black;
  animation: breathe 1.5s step-end infinite;
}

@keyframes breathe {
  50% {opacity: 50%;}
  /* 0% {color: yellow;}
  100% {color: rgba(255, 255, 0, 0);}  */
}

/* .description {
  background: rgba(0,0,0,0);
  animation-name: breathe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */

.button {
  text-align: center;
  position: fixed;
  top: 2.5%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0,0,0,0);
  font-family: serif;
  font-size: 1em;
  animation-name: breathe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button:hover {
  /* background-color: blue; */
  color: white;
}

#music {
  text-align: center;
  /* position: fixed;
  top: 2.5%;
  left: 97%;
  transform: translate(-50%, -50%); */
  color: white;
  background: rgba(0,0,0,0);
  font-family: serif;
  font-size: 1em;
  animation-name: breathe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#music:hover {
  text-decoration: none;
}

#music:hover {
  /* background-color: blue; */
  color: white;
}

.tree {
  width: 100vw;
  height: 100vh;
}

p {
  margin: 0;
  position: absolute;
  top: 87.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  text-align: center;
  text-transform: lowercase;
  font-family: arial;
  font-weight: 700;
  font-style: italic;
  font-size: 3.5em;
  color: white;
  -webkit-text-stroke: .045em black;
  text-shadow: 0 0 .2em rgba(0,0,0,.5);
  background: rgba(0,0,0,.35);
  padding: .15em;
  width: max-content;
}

.brackets {
  color: yellow;
}

@media (max-width: 1300px) {
  .topContainer{
    flex-direction: column;
    justify-content: none;
    margin-left: 5px;

  }

  #music {
    text-align: left;
  }


  p{
    top: 87.5%;
  }
}