body{
    margin: 35px;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 475px;
}

.bigBox{
    margin: 0;
    padding: 0;
    border: 0;
}

.title{
    font-family: serif;
    font-size: 35px;
    color: red;
    filter: drop-shadow(0 0 0.75rem crimson);
    margin-bottom: 50px;
    text-decoration: underline;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    width: fit-content;
}

.smallBox{
    border: 1px solid black;
    filter: drop-shadow(0 0 0.75rem crimson);
    display: flex;
    justify-content: center;
    width: 275px;
    background-color: blanchedalmond;
}

.smallBox:hover{
    color: magenta;
    font-weight: bolder;
}

.butt{
    padding: 0px;
    outline: 5px outset red;
    max-width: fit-content;
}

.butt:hover{
    outline: 5px outset blue;
}

.photo{
    width: 50px;
    height: 50px;
}

/* .caption{
    border: 1px solid black;
    width: fit-content;
} */

.individualButt{
    padding: 0px;
    outline: 5px outset red;
    max-width: fit-content;
}

.individualBox{
    border: 1px solid black;
    filter: drop-shadow(0 0 0.75rem crimson);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 275px;
    background-color: blanchedalmond;
}

.individualPhoto{
    width: 500px;
}

.individualCaption{
    border: 1px solid black;
    width: fit-content;
    font-size: 50px;
    color: blue;
}

.frame{
    border: 10px double red;
    color: blue;
    font-family: monospace;
    margin-top: 50px;
    font-size: 35px;
    width: 475px;
    padding: 25px;
}

.informationBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
}

#information{
    color: black;
    text-transform: lowercase;
}