html {
    margin: 0;
    padding: 0;
    background-image: url(http://108.41.24.124:80/mjpg/video.mjpg);
    background-size: cover;
    background-repeat: repeat;
    background-color: black;
}

body {
    /* background-image: url(http://108.41.24.124:80/mjpg/video.mjpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

a {
    color: cyan;
    text-decoration: none;
}

img {
    filter: blur(50);
}

.liveCam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    opacity: 0.5%;
}

.description {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 5% 25px 25px 25px;
    color: #00ff00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 650;
    text-align: center;
    width: 90vw;
    -webkit-text-stroke: 0.025em black;
    text-stroke: 0.025em black;
    filter: blur(0.5px);
    opacity: 95%;
}

.magenta {
    color: magenta;
}

.moreInfo {
    text-align: center;
    z-index: 999;
    color: cyan;
    filter: blur(0.5px);
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .feet {
    background-color: rgba(255, 0, 0, 0.5);
    margin: 0;
    position: absolute;
    width: 100vw;
    top: 90%;
    left: 0%;
    color: #00FF00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    font-weight: 650;
    -webkit-text-stroke: .025em black;
    text-stroke: .025em black;
    overflow: hidden;
} */

.tree {
    position: absolute;
    width: fit-content;
    padding: 2.5px;
    width: 100px;
    filter: blur(1px);
}

#temperature,
#humidity {
    color: #00ff00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 650;
    text-align: center;
    width: 90vw;
    -webkit-text-stroke: 0.025em black;
    text-stroke: 0.025em black;
    filter: blur(0.5px);
}

.values {
    color: magenta;
}

@media (max-width: 700px) {
    html {
        font-size: 10px;
    }
    .moreInfo {
        width: 90%;
    }
}
