body{
    margin: 60px;
    background-color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: tomato;
    font-size: 100px;

}

.column{
    display: flex;
    flex-direction: column;
}

.one{
    text-align: right;
}

.two{
    text-align: left;
}

.three{
    text-align: right;
}

.four{
    text-align: left;
}

.instructions{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
}

@media (max-width: 2000px){
    .one{
        color: tomato;
    }
    
    .two{
        color: gainsboro;
    }
    
    .three{
        color: gainsboro;
    }
    
    .four{
        color: gainsboro; 
    }
}

@media (max-width: 1500px){
    .one{
        color: gainsboro;
    }
    
    .two{
        color: tomato;
    }
    
    .three{
        color: gainsboro;
    }
    
    .four{
        color: gainsboro;
    }
}

@media (max-width: 1000px){
    .one{
        color: gainsboro;
    }
    
    .two{
        color: gainsboro;
    }
    
    .three{
       color: tomato;
    }
    
    .four{
        color: gainsboro;
    }
}

@media (max-width: 750px){
    .one{
        color: gainsboro;
    }
    
    .two{
        color: gainsboro;
    }
    
    .three{
       color: gainsboro;
    }
    
    .four{
        color: tomato;
    }
}

@media (max-width: 500px){
    body{
        background-color: tomato;
        color: gainsboro;
    }
    .one{
        color: gainsboro;
        text-align: center;
    }
    
    .two{
        color: gainsboro;
        text-align: center;
    }
    
    .three{
       color: gainsboro;
       text-align: center;
    }
    
    .four{
        color: gainsboro;
        text-align: center;
    }
    .instructions{
        color: tomato;
    }
}